<div class="page-header">
  <h2>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h2>
</div>
<!-- <div class="container px-0 max-width: 100%"> -->
  <div class="row-fluid">
    <div class="span8">
      {{ content }}
    </div>
    <div class="span4 ">
  	  <ul>
  		  <li>Survey 1 - Identifying Needs - <a href="/pages/survey.html ">Results</a>
  		  <li>Survey 2 - Matching Needs - <a href=" https://docs.google.com/forms/d/e/1FAIpQLSfs-D3H4UBuTD--0ivR6J_o8Z2eUkLjwrfDp3JKn6q2rQijTQ/viewform">LIVE</a>
  		  <li>Survey 3 - Opportunities lost - <a href="https://docs.google.com/forms/d/117qs2bLJxoSk4uSOWm2ogz9UEp7l4PAnd77zZcN1UY8/edit">Open!</a>
    
  	   <ul>			  
    </div>
  </div>
<!-- </div> -->
